extends ./layout.jade

block content
    p Hi,
    p A recent update has been made to a 
        a( href=app_url + '/bolo/details/' + bolo.id ) #{bolo.category} BOLO 
        | on the BOLO Flier Creator app. 
        a( href=app_url ) Login 
        | to view this and other BOLOs.
