
-
    var categories = [
        'INFORMATION', 'ARSON', 'BURGLARY', 'DOMESTIC SECURITY', 'ESCAPE',
        'FRAUD', 'HOME INVASION', 'HOMICIDE', 'MISSING JUVENILE',
        'MISSING PERSON', 'NARCOTICS', 'NEED TO IDENTIFY', 'OFFICER SAFETY',
        'PC TO ARREST', 'ROBBERY', 'RUNAWAY', 'SEX OFFENSE',
        'SITUATIONAL AWARENESS', 'THEFT - AUTO', 'THEFT - BOAT', 'THEFT - GRAND',
        'THEFT - PETIT', 'WANTED', 'FIELD INTERVIEW'
    ]

    var races = [
        'Unknown',
        'Hispanic',
        'White',
        'Asian',
        'Black or African American',
        'American Indian or Alaska Native',
        'Native Hawaiian or Other Pacific Islander'
    ]

    var hair_colors = [
        'Black', 'Blonde', 'Red', 'Brown', 'Gray', 'White', 'Sandy',
        'Bald (No hair)'
    ]

    var bolo_status = [
        'New', 'Canceled', 'In Custody', 'Located', 'Recovered'
    ]

