extends ./layout.jade

block jumbo
    .jumbotron
        .container
            h1 404: Page Not Found

            p The page you are looking for could not be found. Maybe you can
                | find what you are looking for on our 
                a( href='/' ) Homepage
                | .

            p Please contact the system administrator if you think this page
                | should be here. Thanks.

