extends ./account-layout.jade
include ./includes/mixins.jade

block jumbo-desc
    p Change your password.

block account-content
    div
        - var ferrs = ( form_errors.length ) ? form_errors[0] : {};
        if ferrs.password
            +alert_error_array( ferrs.password )
        if ferrs.confirmation
            +alert_error_array( ferrs.confirmation )

    form( action="/account/password" enctype="multipart/form-data" method="post" )
        +input_text( "password", "New Password (required)", "", true,  "", "password" )
        +input_text( "confirm", "Confirm Password (required)", "", true,  "", "password" )

        .form-group
            button.btn.btn-primary( type="submit" value="save" ) Submit
