extends ./layout.jade

block jumbo
    .jumbotron
        .container
            h1 Admin Portal
            block jumbo-desc

block content
    .row
        .col-sm-3
            ul.nav.nav-pills.nav-stacked(role="nav")
                li(class=( admin_nav === 'admin-index' ? 'active' : '' ))
                    a(href="/admin") Dashboard
                li(class=( admin_nav === 'admin-users' ? 'active' : '' ))
                    a(href="/admin/users") User Management
                li(class=( admin_nav === 'admin-agency' ? 'active' : '' ))
                    a(href="/admin/agency") Agency Management
        .col-sm-9
            include ./partials/global-alerts.jade
            block admin-content
