extends ./admin-layout.jade

block jumbo-desc
    p Dashboard

block admin-content
    p.lead Welcome to the BOLO Flier Creator Administrator Dashboard. Please
        | use the links to the left (or above on mobile devices) to navigate
        | the Dashboard.  Thanks.

