include includes/mixins
extends layout
block content
    h1=bolo.data.category
    div.container-fluid
        div.row
            div.col-xs-12.col-md-7
                form.form-horizontal
                +form_labels_row("Bolo ID", bolo.data.id )
                +form_labels_row("Author", bolo.data.authorFName + " " +  bolo.data.authorLName )
                +form_labels_row("Name", bolo.data.firstName + " " +  bolo.data.lastName)
                +form_labels_row("Race", bolo.data.race)
                +form_labels_row("Height", bolo.data.height)
                +form_labels_row("Weight", bolo.data.weight + "lbs")
                +form_labels_row("Address", bolo.data.address, bolo.data.address?"":"hidden")
                +form_labels_row("DOB", bolo.data.dob)
                +form_labels_row("Sex", bolo.data.sex)
                +form_labels_row("Hair Color", bolo.data.hairColor)
                +form_labels_row("Tattoos/Scars", bolo.data.tattoos)
                +form_labels_row("License #", bolo.data.dlNumber)
                +form_labels_row("Created on", bolo.data.enteredDT)
                +form_labels_row("Aditional Info", bolo.data.additional, bolo.data.additional?"":"hidden")
                +form_labels_row("Summary", bolo.data.summary, bolo.data.summary?"":"hidden")
            div.col-xs-12.col-md-5
                if bolo.data.attachments
                - var keys = Object.keys( bolo.data.attachments )
                img(src="/bolo/asset/" + bolo.data.id + "/" + keys[0] alt="", width=300)