extends layout

block content
  h1 Bolos
  #bolos
  div.row
    for bolo in bolos
        div.col-sm-6.col-md-4
            div.thumbnail
                if bolo.data.attachments
                    - var keys = Object.keys( bolo.data.attachments )
                    img(src="/bolo/asset/" + bolo.data.id + "/" + keys[0] alt="")
                div.caption
                    h3= bolo.data.category
                    p= "Author: " +  bolo.data.firstName + " " +  bolo.data.lastName
                    p= bolo.data.enteredDT
                    p
                         a.btn.btn-primary(href="/bolo/edit/" + bolo.data.id, role="button") Edit
                         a.btn.btn-default(href="/bolo/details/" + bolo.data.id, role="button") Details
                         a.btn.btn-danger(role="button", type="submit" class="delete-bolo", id=bolo.data.id) Delete