include includes/mixins
extends layout

block jumbo
  .jumbotron
    .container
      h1 Create a BOLO
      p Fill out the form and submit to create a new BOLO.

block content
  //- Dropdown Box Selections
  -
    var categories = [
      'ARSON', 'BURGLARY', 'DOMESTIC SECURITY', 'ESCAPE', 'FRAUD',
      'HOME INVASION', 'HOMICIDE', 'MISSING JUVENILE', 'MISSING PERSON',
      'NARCOTICS', 'NEED TO IDENTIFY', 'OFFICER SAFETY', 'PC TO ARREST',
      'ROBBERY', 'RUNAWAY', 'SEX OFFENSE', 'SITUATIONAL AWARENESS',
      'THEFT - AUTO', 'THEFT - BOAT', 'THEFT - GRAND', 'THEFT - PETIT',
      'WANTED', 'FIELD INTERVIEW', 'INFORMATION'
    ]

    var races = [
      'Hispanic', 'White', 'Asian', 'Black or African American',
      'American Indian or Alaska Native',
      'Native Hawaiian or Other Pacific Islander'
    ]

    var hair_colors = [
      'Black','Blonde','Red','Brown','Gray','White','Sandy','Bald (No hair)'
    ]


  //- Actual Form
  form(action="/bolo/create" enctype="multipart/form-data" method="post")
    .form-group
      label.control-label(for="bolo_category") Category
      select.form-control(name="bolo_category" required)
        option(disabled selected) == select an option ==
        each val in categories
          +option(val)

    .form-group
      label.control-label(for="fname") First Name
      input.form-control(name="fname" type="text" placeholder="")

    .form-group
      label.control-label(for="lname") Last Name
      input.form-control(name="lname" type="text" placeholder="")

    .form-group
      label.control-label(for="dob") Date of Birth (DD/MM/YYYY)
      input.form-control(name="dob" type="text" placeholder="DD/MM/YYYY")

    .form-group
      label.control-label(for="dl_number") Drivers License Number
      input.form-control(name="dl_number" type="text" placeholder="")

    .form-group
      label.control-label(for="race") Race
      select.form-control(name="race")
        option(disabled selected) == select an option ==
        each val in races
          +option(val)

    .form-group
      label.control-label(for="sex") Sex
      select.form-control(name="sex")
        option(disabled selected) == select an option ==
        +option('Male')
        +option('Female')

    .form-group
      label.control-label(for="height") Height - Feet-Inches (e.g. 05-09)
      input.form-control(name="height" type="text" placeholder="e.g. 05-09")

    .form-group
      label.control-label(for="weight") Weight - Pounds
      input.form-control(name="weight" type="text" placeholder="")

    .form-group
      label.control-label(for="hair_color") Hair Color
      select.form-control(name="hair_color")
        option(disabled selected) == select an option ==
        each val in hair_colors
          +option(val)

    .form-group
      label.control-label(for="tattoos") Tattoos
      textarea.form-control(name="tattoos")

    .form-group
      label.control-label(for="last_known_address") Last Known Address
      input.form-control(name="last_known_address" type="text" placeholder="")

    .form-group
      label.control-label(for="image_upload") Image Attachment
      input(name="image_upload" type="file" accept="image/*")

    .form-group
      label.control-label(for="video_url") Video Link
      input.form-control(name="video_url" type="url")

    .form-group
      label.control-label(for="addition_info") Additional Info
      textarea.form-control(name="additional_info")

    .form-group
      label.control-label(for="summary") Summary
      textarea.form-control(name="summary")

    .form-group
      button.btn.btn-primary(type="submit" value="save") Submit
      button.btn.btn-default(type="submit" disabled=true value="preview") Preview
      button.btn.btn-default(type="submit" disabled=true value="pdf") PDF

