extends layout

block jumbo
  .jumbotron
    .container
      h1 BOLO Version 3.0
      p Not much here but stay tuned for upcoming updates.

block content
  h1 This is the homepage which will eventually be replaced by a login page.
