extends layout

block jumbo
    .jumbotron
        .container
            h1 BOLO Version 3.0
            p Homepage

block content
    h1 The homepage will eventually list BOLOs in your area. Stay tuned.
