include ./includes/mixins.jade

+nav( "BOLO Version 3.0", "bolo-nav" )
    if userLoggedIn
        ul.nav.navbar-nav
            li: a( href="/bolo/create" ) Create BOLO
            li: a( href="/bolo" ) View BOLOS
            li: a( href="/bolo/archive" ) Archive

        ul.nav.navbar-nav.navbar-right
            li: a( href="/account" ) My Account
            li: a( href="/logout" ) Logout
