extends ./admin-layout.jade
include ./includes/mixins.jade


block jumbo-desc
    p Reset User's Password

block admin-content
    - var route = "/admin/users/" + user.data.id
    p.lead Resetting account password for: 
        a(href=route) #{user.data.username}

    form(action=route + "/reset-password" enctype="multipart/form-data" method="post")
        +input_mx("password", "New Password (required)", "", true,  "", "password")
        +input_mx("password", "Confirm Password (required)", "", true,  "", "password")

        .form-group
            button.btn.btn-primary(type="submit" value="save") Submit
