extends ./admin-layout.jade
include ./includes/mixins.jade


block jumbo-desc
    p Reset User's Password

block admin-content
    - var route = "/admin/users/" + user.data.id
    p.lead Resetting account password for: 
        a(href=route) #{user.data.username}

    div
        each m in msg
            if m.length
                +alert_info( m )
        each e in err
            if e.message
                +alert_error( e.message )
            else if e.length
                +alert_error( e )

    form(action=route + "/reset-password" enctype="multipart/form-data" method="post")
        +input_mx("pass_new", "New Password (required)", "", true,  "", "password")
        +input_mx("pass_conf", "Confirm Password (required)", "", true,  "", "password")

        .form-group
            button.btn.btn-primary(type="submit" value="save") Submit
