extends layout

block jumbo
  .jumbotron
    .container
      h1 Admin Portal
      p User Directory

block content
  p 
    a(href="/admin") < Back to Admin Dashboard

  table.table.table-striped
    thead
      tr
        th Username
        th Name
        th Email
        th Role
        th 
        th 
    tbody
      each user in users
        tr
          td= user.data.username
          td= user.data.fname + ' ' + user.data.lname
          td= user.data.email
          td= user.roleName()
          td Edit
          td Delete
