
/** Bootstrap Overrides **/
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.nav-stacked {
    margin-bottom: 22px;
}

/** Custom Styles **/
.details-image img {
    max-width: 90%;
}

.strong {
    font-weight: 700;
}

.pagination>li>a, .pagination>li>span
{
    border: 1px solid #ffffff;
    /*background:  #2c3e50;*/   
}