
#footer.navbar-default
    .container.text-center
        p.navbar-text.small © 2015 BOLO Flier Creator | Created by School of 
            | Computing and Information Sciences @ 
            a.navbar-link( href="http://www.cis.fiu.edu/seniorproject/" ) FIU
