include ./includes/mixins.jade
extends ./layout.jade


block jumbo
    .jumbotron
        .container
            h1 Be On the Lookout
            p Publish a New BOLO


block content
    include ./partials/global-alerts.jade

    include ./partials/bolo-options.jade

    form#create-bolo-form(action="/bolo/create" enctype="multipart/form-data" method="post")
        input( type="hidden" name="status" value="New" )
        +select_options( "category", "Category", categories, true, "" )

        +input_text( "firstName", "First Name", "", false, "" )
        +input_text( "lastName", "Last Name", "", false,  "" )
        +input_text( "dob", "Date of Birth (DD/MM/YYYY )", "DD/MM/YYYY", "" )
        +input_text( "dlNumber", "Drivers License Number", "", false, "" )
        +select_options( "race", "Race", races, false, "" )
        +select_options( "sex", "Sex", ["Male", "Female"], false, "" )
        +input_text( "height", "Height - Feet-Inches (e.g. 05-09)", "e.g. 05-09", false, "" )
        +input_text( "weight", "Weight - Pounds", "", false, "" )
        +select_options( "hairColor", "Hair Color", hair_colors, false, "" )
        +input_textarea( "tattoos", "Tattoos", "", false, "" )

        .form-group.row
            .col-md-4
                label.control-label( for="featured_image" ) Featured Image
                input( name="featured_image" type="file" accept="image/*" )

            .col-md-4
                label.control-label( for="featured_image" ) Image Upload
                input( name="image_upload[]" type="file" accept="image/*" )

            .col-md-4
                label.control-label( for="featured_image" ) Image Upload
                input( name="image_upload[]" type="file" accept="image/*" )

        +input_text( "video_url", "Video Link", "", false, "", "url" )
        +input_textarea( "additional", "Additional Info", "", false, "" )
        +input_textarea( "summary", "Summary", "", false, "" )

        .form-group
            button.btn.btn-primary( type="submit" value="save" ) Publish
            button.btn.btn-default( type="submit" disabled=true value="preview" ) Preview
            button.btn.btn-default( type="submit" disabled=true value="pdf" ) PDF
