include ./includes/mixins.jade

doctype html
html.no-js
    head
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1' )

        title #{title}

        link( href=config_bootstrap, rel="stylesheet" )
        link( href="/css/style.css" rel="stylesheet" )
        block styles

    body
        <!--[if lt IE 8]>
        p.browsehappy
          | You are using an <strong>outdated</strong> browser.
          | Please <a href="http://browsehappy.com/">upgrade your browser</a>
          | to improve your experience.
        <![endif]-->

        #wrap
            include ./partials/main-nav.jade

            block jumbo

            .container
                block content

            .push

        include ./partials/footer.jade

        script( type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" )
        script( type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" )
        script( type="text/javascript", src="/js/ui.js" )
        block scripts
