extends ./layout.jade


block jumbo
    .jumbotron
        .container
            h1 Unauthorized
            p.text-warning Access to this resource is restricted.

block content
    p.lead Sorry for the inconvenience. If you need to access this resource
        | please contact the system administrator.
