extends ./admin-layout.jade
include ./includes/mixins.jade


block jumbo-desc
    p Reset User's Password

block admin-content
    div
        - var ferrs = ( form_errors.length ) ? form_errors[0] : {};
        if ferrs.password
            +alert_error_array( ferrs.password )
        if ferrs.confirmation
            +alert_error_array( ferrs.confirmation )

    - var route = "/admin/users/" + user.id
    p.lead Resetting account password for: 
        a(href=route) #{user.username}

    form(action=route + "/reset-password" enctype="multipart/form-data" method="post")
        +input_text("password", "New Password (required)", "", true,  "", "password")
        +input_text("confirm", "Confirm Password (required)", "", true,  "", "password")

        .form-group
            button.btn.btn-primary(type="submit" value="save") Submit
